<section class="feed panel panel-default">
	<header class="panel-heading">
		<h1 class="panel-title">	@GetValue("Item.Title")</h1>
	</header>

	<div class="panel-body" id='feed-@GetValue("ParagraphID")'>
		Loading feed from <a href='@GetValue("Item.Url")'>@GetValue("Item.Url")</a> …
	</div>
</section>

<!--@SnippetStart(JavaScriptBottom)-->
<script>
	(function ($, undefined) {
		var id = '#feed-@GetValue("ParagraphID")',
			url = '@GetValue("Item.Url")',
			limit = @GetInteger("Item.Limit"),
			firstLoad = true,
			loadItems = function () {
				var $el = $(id);
				$.ajax({
					url: url+(url.indexOf('?') < 0 ? '?' : '&')+'take='+limit
				})
					.done(function (data, status, xhr) {
						var content, i, item, items = $('item', data.documentElement);
						$el.empty();

						content = $('<ol class="feed-items"></ol>');

						for (i = 0; item = items[i]; i++) {
							var date = new Date($(item).find('pubDate').text()),
								title = $(item).find('title').text(),
								description = $(item).find('description').text();
							$('<li></li>', { 'class': 'item' })
								.append('<span class="pubDate">'+date+'</span>')
								.append('<span class="title">'+title+'</span>')
								.append('<span class="description">'+description+'</span>')
								.appendTo(content);
						}

						$el.append(content);
					})
				.fail(function () {
					if (firstLoad) {
						$el.html('Error loading feed from ' + url);
					}
					firstLoad = false;
				});
			};

		$(window).load(loadItems);
	}(jQuery))
</script>
<!--@SnippetEnd(JavaScriptBottom)-->
